<div class="product-list-container">
    <h2>🛍️ Our Products</h2>

    <!-- Product Grid -->
    <div class="product-grid">
        <mat-card *ngFor="let product of products" class="product-card" (click)="viewProduct(product.id)">
            <img mat-card-image [src]="product.image" alt="{{ product.name }}" />
            <mat-card-content>
                <h3>{{ product.name }}</h3>
                <p class="price">$ {{ product.price }}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary"
                    (click)="viewProduct(product.id); $event.stopPropagation()">View Details</button>
            </mat-card-actions>
            
        </mat-card>
    </div>

    <!-- Paginator -->
    <mat-paginator [length]="totalProducts" [pageSize]="pageSize" (page)="onPageChange($event)"
        [pageSizeOptions]="[4, 8, 12]" showFirstLastButtons>
    </mat-paginator>
</div>