<mat-toolbar class="footer-toolbar">
    <span class="footer-text">
      © {{ currentYear }} My E-Commerce. All rights reserved.
      Built by: <a href="https://alyaarihazem.github.io/portfolio/" class="divlober">Hazem Alyaari.</a>
    </span>
    
    <span class="spacer"></span>
    
    <div class="social-icons">
      <!-- Replace with your own icons or links -->
      <a href="https://twitter.com" target="_blank" rel="noopener">
        <mat-icon>twitter</mat-icon>
      </a>
      <a href="https://facebook.com" target="_blank" rel="noopener">
        <mat-icon>facebook</mat-icon>
      </a>
    </div>
  </mat-toolbar>
  